.instance-page {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: max-content 1fr;
    height: 100%;
    overflow: hidden;
    background: var(--panelBackground);
}

.instance-header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.instance-status {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.instance-sidebar {
    grid-row: 2;
    grid-column: 1;
    border-right: 1px solid var(--borderColorLight);
    background: var(--panelSidebarBackground);
}

    .instance-sidebar ::deep .btn-navigation {
        display: block;
        height: 65px;
        width: 65px;
        border: none;
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--borderColorVeryLight);
        border-radius: 0;
        padding: 0;
        padding-top: 12px;
    }

        .instance-sidebar ::deep .btn-navigation.active {
            background: #2870bd;
        }

        .instance-sidebar ::deep .btn-navigation:focus {
            box-shadow: none;
        }

        .instance-sidebar ::deep .btn-navigation .icon {
            display: block;
            font-size: 18px;
            margin: 0;
            margin-bottom: 6px;
        }

        .instance-sidebar ::deep .btn-navigation .text {
            display: block;
            font-size: 11px;
            margin: 0;
        }

.instance-body {
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    overflow: hidden;
}
