.disconnection-page {
    background: #e9ecef !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.disconnection-panel {
    display: grid;
    grid-template-rows: 0.2fr max-content 1.8fr;
    grid-template-columns: 1fr max-content 1fr;
    height: 100%;
    width: 100%;
}

.disconnection-container {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-row: 2;
    grid-column: 2;
    border: 1px solid #ddd;
    min-width: 1000px;
}

.disconnection-header-container {
    display: grid;
    grid-template-columns: 1fr max-content max-content 1fr;
    grid-column-gap: 15px;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px 20px 10px;
    border-bottom: 1px solid #ddd;
}

.disconnection-header-logo-container {
    grid-column: 2;
}

.disconnection-header-logo {
    display: inline-block;
    height: 40px;
    line-height: 48px;
}

.disconnection-header-title-container {
    grid-column: 3;
    text-align: center;
    line-height: 42px;
}

.disconnection-header-title {
    font-size: 30px;
    font-weight: 600;
    font-family: Roboto;
    color: #bbb;
}


.disconnection-icon-container {
    grid-row: 2;
    grid-column: 1;
    padding: 50px;
}

.disconnection-icon {
    color: rgba(0, 0, 0, 0.05);
    font-size: 150px;
}

.disconnection-information-container {
    grid-row: 2;
    grid-column: 2;
    padding: 50px;
}

.disconnection-panel-title {
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
}

.disconnection-panel-label {
    font-size: 16px;
    color: #888;
}

.disconnection-panel-description {
    font-size: 14px;
    color: #333;
}
