<div id="reconnection-panel" class="disconnection-page" style="display: none;">
    <div class="disconnection-panel">
        <div class="disconnection-container">
            <div class="disconnection-header-container">
                <div class="disconnection-header-logo-container">
                    <img src="img/trakhound-logo-v5-01-disconnected.svg" class="disconnection-header-logo" />
                </div>
                <div class="disconnection-header-title-container">
                    <span class="disconnection-header-title">TrakHound</span>
                </div>
                <div class="disconnection-header-instance-container">
                    <span class="disconnection-header-intance-id"></span>
                    <span class="disconnection-header-intance-url"></span>
                </div>
            </div>
            <div class="disconnection-icon-container">
                <span class="disconnection-icon fa-solid fa-sharp fa-signal-bars-slash"></span>
            </div>
            <div class="disconnection-information-container">
                <h1 class="disconnection-panel-title">Disconnected</h1>
                <p class="disconnection-panel-description">Lost Connection to the TrakHound Instance</p>
                <label class="disconnection-panel-label" id="reconnection-panel-label"></label>
            </div>
        </div>
    </div>
</div>