:root {
    /* Accent Colors */
    --accent: #2870bd;
    --accentLight: #428ad7;
    --accentKindaLight: #1a8cff;
    --accentVeryLight: #cce6ff;
    --accentVeryVeryLight: #e9f2fc;
    --accentMild: #0079f2;
    --accentDark: #1b4b7e;
    --accentVeryDark: #123254;
    --accentVeryVeryDark: #09192a;
    --accentBackground: linear-gradient(0deg, #007bf7 0%, #0073e6 25%, #0073e6 50%, #0073e6 75%, #007bf7 100%);
    /* Panel Colors */
    --panelBackground: #fff;
    --panelBackgroundMedium: #fcfcfe;
    --panelBackgroundDark: #e9ecef;
    --panelSidebarBackground: #fafafa;
    --panelItemBackground: #f8f8f8;
    --panelItemBackgroundHover: var(--accentVeryLight);
    --panelItemBorder: #e0e0e0;
    /* Border Colors */
    --borderColor: #ccc;
    --borderColorLight: #eee;
    --borderColorVeryLight: #f4f4f4;
    --borderColorVeryVeryLight: #f8f8f8;
    --borderColorMedium: #ccc;
    --borderColorDark: #bbb;
    /* Text Colors */
    --textDark: #333;
    --textMild: #656565;
    --textLight: #aaa;
    --textMuted: #bbb;
    --textVeryLight: #ccc;
    --textLink: #0080ff;
    --textBackground: #f8f8f8;
    /* Modal Colors */
    --modalBackground: #fff;
    /* Table Colors */
    --tableBackground: #fff;
    --tableHeaderBackground: #f8f8f8;
    /* Table Colors */
    --tableBackground: #fff;
    --tableBackgroundHover: #f4f4f4;
    --tableHeaderBackground: #f8f8f8;
    --tableHeaderBorderColor: #ddd;
    --tableHeaderText: var(--textMild);
    --tableBorderColor: #ddd;
    --tableText: var(--textDark);
    /* Chart Colors */
    --chartPrimaryStroke: var(--accentLight);
    --chartPrimaryFill: var(--accentVeryLight);
    --chartSecondaryStroke: var(--colorPurple);
    --chartSecondaryFill: var(--colorPurpleLight);
    /* Button Colors */
    --buttonPrimaryBackground: linear-gradient(to bottom, #2d7dd2 0%,#2870bd 100%);
    --buttonPrimaryBackgroundHover: #5797db;
    --buttonPrimaryBackgroundHighlight: #5797db;
    --buttonPrimaryBackgroundDisabled: #5797db;
    --buttonPrimaryBorder: #0073e6;
    --buttonPrimaryBorderHover: #0073e6;
    --buttonPrimaryBorderHighlight: #0073e6;
    --buttonPrimaryBorderDisabled: #0073e6;
    --buttonPrimaryIcon: #fff;
    --buttonPrimaryIconHover: #fff;
    --buttonPrimaryIconHighlight: #fff;
    --buttonPrimaryIconDisabled: var(--accentVeryLight);
    --buttonPrimaryText: #fff;
    --buttonPrimaryTextHover: #fff;
    --buttonPrimaryTextHighlight: #fff;
    --buttonPrimaryTextDisabled: var(--accentVeryLight);
    --buttonSecondaryBackground: none;
    --buttonSecondaryBackgroundHover: var(--panelBackgroundMedium);
    --buttonSecondaryBackgroundHighlight: var(--panelBackgroundMedium);
    --buttonSecondaryBackgroundDisabled: var(--panelBackgroundMedium);
    --buttonSecondaryBorder: #ddd;
    --buttonSecondaryBorderHover: var(--accentLight);
    --buttonSecondaryBorderHighlight: #555;
    --buttonSecondaryBorderDisabled: #ddd;
    --buttonSecondaryIcon: #888;
    --buttonSecondaryIconHover: var(--accentLight);
    --buttonSecondaryTextHighlight: var(--accentLight);
    --buttonSecondaryTextDisabled: #aaa;
    --buttonSecondaryText: #555;
    --buttonSecondaryTextHover: var(--accentLight);
    --buttonSecondaryTextHighlight: var(--accentLight);
    --buttonSecondaryTextDisabled: #888;
    --buttonLightBackground: var(--panelBackground);
    --buttonLightBackgroundHover: var(--panelBackgroundMedium);
    --buttonLightBackgroundHighlight: var(--panelBackgroundMedium);
    --buttonLightBackgroundDisabled: var(--panelBackgroundMedium);
    --buttonLightBorder: #ddd;
    --buttonLightBorderHover: var(--accentLight);
    --buttonLightBorderHighlight: var(--accentLight);
    --buttonLightBorderDisabled: #ddd;
    --buttonLightIcon: var(--accent);
    --buttonLightIconHover: var(--accentLight);
    --buttonLightIconHighlight: var(--accentLight);
    --buttonLightIconDisabled: #aaa;
    --buttonLightText: var(--textDark);
    --buttonLightTextHover: var(--accentLight);
    --buttonLightTextHighlight: var(--accentLight);
    --buttonLightTextDisabled: #aaa;
    --buttonCommandBackground: none;
    --buttonCommandBackgroundHover: var(--panelBackgroundMedium);
    --buttonCommandBackgroundHighlight: var(--panelBackgroundMedium);
    --buttonCommandBackgroundDisabled: #fafafa;
    --buttonCommandBorder: transparent;
    --buttonCommandBorderHover: #ddd;
    --buttonCommandBorderHighlight: #ddd;
    --buttonCommandBorderDisabled: transparent;
    --buttonCommandIcon: var(--accent);
    --buttonCommandIconHover: var(--accentLight);
    --buttonCommandIconHighlight: var(--accentLight);
    --buttonCommandIconDisabled: #5797db;
    --buttonCommandText: var(--accent);
    --buttonCommandTextHover: var(--accentLight);
    --buttonCommandTextHighlight: var(--accentLight);
    --buttonCommandTextDisabled: #5797db;
    --buttonToolbarBackground: none;
    --buttonToolbarBackgroundHover: var(--panelBackgroundMedium);
    --buttonToolbarBackgroundHighlight: var(--panelBackgroundMedium);
    --buttonToolbarBackgroundDisabled: #eee;
    --buttonToolbarBorder: #ddd;
    --buttonToolbarBorderHover: var(--accentLight);
    --buttonToolbarBorderHighlight: var(--accentLight);
    --buttonToolbarBorderDisabled: #ccc;
    --buttonToolbarIcon: var(--accent);
    --buttonToolbarIconHover: var(--accentLight);
    --buttonToolbarIconHighlight: var(--accentLight);
    --buttonToolbarIconDisabled: #aaa;
    --buttonToolbarText: var(--accent);
    --buttonToolbarTextHover: var(--accentLight);
    --buttonToolbarTextHighlight: var(--accentLight);
    --buttonToolbarTextDisabled: #aaa;
    --buttonLinkIcon: var(--accent);
    --buttonLinkIconHover: var(--accentLight);
    --buttonLinkIconHighlight: var(--accentLight);
    --buttonLinkIconDisabled: #aaa;
    --buttonLinkText: var(--accent);
    --buttonLinkTextHover: var(--accentLight);
    --buttonLinkTextHighlight: var(--accentLight);
    --buttonLinkTextDisabled: #aaa;
    --buttonRemoveBackground: none;
    --buttonRemoveBackgroundHover: red;
    --buttonRemoveBackgroundHighlight: red;
    --buttonRemoveBackgroundDisabled: none;
    --buttonRemoveBorder: red;
    --buttonRemoveBorderHover: red;
    --buttonRemoveBorderHighlight: red;
    --buttonRemoveBorderDisabled: #ddd;
    --buttonRemoveIcon: red;
    --buttonRemoveIconHover: white;
    --buttonRemoveIconHighlight: white;
    --buttonRemoveIconDisabled: #aaa;
    --buttonRemoveText: red;
    --buttonRemoveTextHover: white;
    --buttonRemoveTextHighlight: white;
    --buttonRemoveTextDisabled: #aaa;
    /* Input Colors */
    --inputBackground: #fafafa;
    --inputBackgroundHover: #f4f4f4;
    --inputBackgroundHighlight: var(--accentVeryVeryLight);
    --inputBackgroundDisabled: #eee;
    --inputBorder: var(--borderColor);
    --inputBorderHover: var(--accent);
    --inputBorderHighlight: var(--accentLight);
    --inputBorderDisabled: var(--borderColor);
    --inputText: #333;
    --inputTextHover: #000;
    --inputTextHighlight: var(--accentDark);
    --inputTextDisabled: #aaa;
    --inputPlaceholder: #ccc;
    --inputPlaceholderHover: #aaa;
    --inputPlaceholderHighlight: var(--accentLight);
    --inputPlaceholderDisabled: #ddd;
    --inputPrimaryBackground: var(--accentVeryLight);
    --inputPrimaryBackgroundHover: #80c1ff;
    --inputPrimaryBackgroundHighlight: #66b5ff;
    --inputPrimaryBackgroundDisabled: var(--accentVeryLight);
    --inputPrimaryBorder: var(--accentLight);
    --inputPrimaryBorderHover: var(--accent);
    --inputPrimaryBorderHighlight: var(--accentDark);
    --inputPrimaryBorderDisabled: var(--accentDark);
    --inputPrimaryText: var(--accentVeryDark);
    --inputPrimaryTextHover: var(--accentDark);
    --inputPrimaryTextHighlight: var(--accentDark);
    --inputPrimaryTextDisabled: var(--accentDark);
    --inputPrimaryPlaceholder: #4a6082;
    --inputPrimaryPlaceholderHover: #5d79a2;
    --inputPrimaryPlaceholderHighlight: #6d86ab;
    --inputPrimaryPlaceholderDisabled: #6d86ab;
}
