:root {
    /* Accent Colors */
    --accent: #2870bd;
    --accentLight: #428ad7;
    --accentKindaLight: #1a8cff;
    --accentVeryLight: #cce6ff;
    --accentVeryVeryLight: #e9f2fc;
    --accentMild: #0079f2;
    --accentDark: #1b4b7e;
    --accentVeryDark: #123254;
    --accentVeryVeryDark: #09192a;
    --accentBackground: linear-gradient(0deg, #007bf7 0%, #0073e6 25%, #0073e6 50%, #0073e6 75%, #007bf7 100%);
    /* Panel Colors */
    --panelBackground: #121821;
    --panelBackgroundMedium: #222;
    --panelBackgroundMedium: #1c2431;
    --panelBackgroundMedium: #253041;
    --panelBackgroundMedium: #1b2431;
    --panelBackgroundDark: #333;
    --panelBackgroundDark: #1c2431;
    --panelBackgroundDark: #121821;
    --panelBackgroundDark: #090c10;
    --panelSidebarBackground: #222;
    --panelSidebarBackground: #090c10;
    --panelSidebarBackground: #0d1726;
    --panelItemBackground: #1b2431;
    --panelItemBackgroundHover: var(--accentVeryVeryLight);
    --panelItemBackgroundHover: #364863;
    --panelItemBackgroundLight: #203960;
    --panelItemBackgroundLightHover: var(--accentVeryLight);
    /* Border Colors */
    --borderColor: #555;
    --borderColor: #1c2431;
    --borderColor: #374862;
    --borderColorLight: #444;
    --borderColorLight: #2e3c52;
    --borderColorLight: #253041;
    --borderColorVeryLight: #253041;
    --borderColorVeryLight: #1c2431;
    --borderColorVeryVeryLight: #222;
    --borderColorVeryVeryLight: #1c2431;
    --borderColorVeryVeryLight: #090c10;
    --borderColorMedium: #405472;
    --borderColorDark: #496083;
    /* Text Colors */
    --textDark: #bec9da;
    --textMild: #7c93b6;
    --textLight: #536c93;
    --textMuted: #bbb;
    --textVeryLight: #374862;
    --textLink: #0080ff;
    /* Modal Colors */
    --modalBackground: #121821;
    /* Table Colors */
    --tableBackground: #121821;
    --tableBackgroundHover: #1b2431;
    --tableHeaderBackground: #1b2431;
    --tableHeaderBorderColor: #2d3d52;
    --tableHeaderText: var(--textMild);
    --tableBorderColor: #253041;
    --tableText: var(--textDark);
    /* Chart Colors */
    --chartPrimaryStroke: var(--accentLight);
    --chartPrimaryFill: #1b4b7e;
    --chartSecondaryStroke: var(--colorPurple);
    --chartSecondaryFill: var(--colorPurpleLight);
    /* Button Colors */
    --buttonPrimaryBackground: linear-gradient(to bottom, #2d7dd2 0%,#2870bd 100%);
    --buttonPrimaryBackgroundHover: #5797db;
    --buttonPrimaryBorder: #0073e6;
    --buttonPrimaryBorderHover: #0073e6;
    --buttonPrimaryIcon: #fff;
    --buttonPrimaryIconHover: #fff;
    --buttonPrimaryText: #fff;
    --buttonPrimaryTextHover: #fff;
    --buttonLightBackground: var(--panelBackground);
    --buttonLightBackgroundHover: var(--panelBackgroundMedium);
    --buttonLightBorder: var(--borderColor);
    --buttonLightBorderHover: var(--accentLight);
    --buttonLightIcon: var(--accent);
    --buttonLightIconHover: var(--accentLight);
    --buttonLightText: var(--textDark);
    --buttonLightTextHover: var(--accentLight);
    --buttonSecondaryBackground: none;
    --buttonSecondaryBackgroundHover: rgba(255, 255, 255, 0.05);
    --buttonSecondaryBorder: var(--borderColorLight);
    --buttonSecondaryBorderHover: var(--borderColor);
    --buttonSecondaryIcon: var(--textLight);
    --buttonSecondaryIconHover: var(--accentLight);
    --buttonSecondaryText: var(--textMild);
    --buttonSecondaryTextHover: var(--accentLight);
    --buttonCommandBackground: none;
    --buttonCommandBackgroundHover: var(--panelBackgroundMedium);
    --buttonCommandBorder: transparent;
    --buttonCommandBorderHover: var(--borderColorLight);
    --buttonCommandIcon: var(--textLight);
    --buttonCommandIconHover: var(--accentLight);
    --buttonCommandText: var(--textDark);
    --buttonCommandTextHover: var(--accentLight);
    --buttonToolbarBackground: none;
    --buttonToolbarBackgroundHover: var(--panelBackgroundMedium);
    --buttonToolbarBorder: var(--borderColorLight);
    --buttonToolbarBorderHover: var(--accentLight);
    --buttonToolbarIcon: var(--accent);
    --buttonToolbarIconHover: var(--accentLight);
    --buttonToolbarText: var(--accent);
    --buttonToolbarTextHover: var(--accentLight);
    --buttonLinkIcon: var(--accent);
    --buttonLinkIconHover: var(--accentLight);
    --buttonLinkText: var(--accentLight);
    --buttonLinkTextHover: var(--accentVeryLight);
    --buttonRemoveBackground: none;
    --buttonRemoveBackgroundHover: red;
    --buttonRemoveBorder: red;
    --buttonRemoveBorderHover: red;
    --buttonRemoveIcon: red;
    --buttonRemoveIconHover: white;
    --buttonRemoveText: red;
    --buttonRemoveTextHover: white;
    /* Input Colors */
    --inputBackground: #1c2431;
    --inputBackgroundHover: #253041;
    --inputBackgroundHighlight: #090c10;
    --inputBackgroundHighlight: var(--accentVeryDark);
    --inputBorder: var(--borderColor);
    --inputBorderHover: var(--accent);
    --inputBorderHighlight: var(--accentLight);
    --inputText: #ddd;
    --inputTextHover: #eee;
    --inputTextHighlight: #fff;
    --inputPlaceholder: #4a6082;
    --inputPlaceholderHover: #5d79a2;
    --inputPlaceholderHighlight: #6d86ab;
    --inputPrimaryBackground: #99ceff;
    --inputPrimaryBackgroundHover: #80c1ff;
    --inputPrimaryBackgroundHighlight: #66b5ff;
    --inputPrimaryBorder: var(--accentLight);
    --inputPrimaryBorderHover: var(--accent);
    --inputPrimaryBorderHighlight: var(--accentDark);
    --inputPrimaryText: var(--accentVeryDark);
    --inputPrimaryTextHover: var(--accentDark);
    --inputPrimaryTextHighlight: var(--accentDark);
    --inputPrimaryPlaceholder: #4a6082;
    --inputPrimaryPlaceholderHover: #5d79a2;
    --inputPrimaryPlaceholderHighlight: #6d86ab;
}
