.endpoint-panel {
    display: grid;
    grid-template-rows: max-content 1fr;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff;
    background: var(--panelBackground);
}

.header-panel {

}

    .header-panel .header-content {
        display: grid;
        grid-template-rows: 1fr max-content;
        grid-template-columns: max-content max-content max-content 1fr;
        grid-column-gap: 10px;
        padding-left: 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--borderColorLight);
    }

.header-panel .header-icon-container {
    grid-column: 1;
    padding: 15px;
}

.header-panel .header-icon {
    font-size: 30px;
    line-height: 20px;
    color: var(--accent);
}

    .header-panel .header-icon-container .icon {
        font-size: 28px;
        color: var(--accent);
        margin-top: 2px;
        margin-right: 10px;
    }

.header-panel .header-icon-container .header-type {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 3px;
    padding: 5px 8px;
    vertical-align: top;
}

.header-panel .header-description-container {
    grid-column: 2;
    padding-right: 80px;
}

    .header-panel .header-description-container .header-title {
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: #555;
        color: var(--textMild);
    }

    .header-panel .header-description-container .header-id {
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        color: var(--textDark);
    }

    .header-panel .header-description-container .header-description {
        display: block;
        font-size: 12px;
        color: #888;
        color: var(--textLight);
    }

    .header-panel .header-package-icon-container {
        grid-column: 3;
        padding: 5px 10px;
    }

    .header-panel span.header-package-icon {
        font-size: 30px;
        line-height: 30px;
        color: #ccc;
        color: var(--textLight);
    }

    .header-panel img.header-package-icon {
        height: 50px;
    }

    .header-panel .header-package-container {
        grid-column: 4;
        border-left: 1px solid #eee;
        border-left: 1px solid var(--borderColorLight);
        padding: 0 20px;
    }

        .header-panel .header-package-container .header-title {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: #555;
            color: var(--textMild);
        }

        .header-panel .header-package-container .header-package {
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: #333;
            color: var(--textDark);
        }

        .header-panel .header-package-container .header-version {
            display: block;
            font-size: 12px;
            line-height: 14px;
            color: #555;
            color: var(--textMild);
        }


.tab-panel {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}

    .tab-panel ::deep .rz-tabview {
        height: 100%;
        overflow: hidden;
    }

    .tab-panel ::deep .rz-tabview-panels {
        height: 100%;
        overflow: hidden;
        border-top: 1px solid var(--borderColor);
    }

    .tab-panel ::deep .rz-tabview-panel {
        height: 100%;
        overflow: hidden;
        padding: 0;
    }


.parameters-panel {
    margin-bottom: 30px;
}

.parameters-panel label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}


.responses-panel {
    margin-bottom: 30px;
    height: 100%;
    overflow: hidden;
}

.responses-panel label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.responses-panel .response-content {
    height: 100%;
    overflow: hidden;
    padding-bottom: 100px;
}

.information-panel {
    padding: 20px 0;
}
