/*.table {
    background: #fafafa;
    border: 1px solid #ddd;
}*/

    .table td {
        font-size: 12px;
        padding: 5px 15px;
    }

        .table td.label {
            background: var(--tableHeaderBackground);
            width: 200px;
            font-weight: bold;
/*            border-right: 1px solid var(--tableHeaderBorderColor);*/
        }

        .table td.value {
/*            background: #fff;*/
/*            border-bottom-color: #ddd;*/
            border-bottom-color: var(--tableBorderColor);
        }
