table {
    border: 1px solid var(--tableBorderColor) !important;
}

thead {
    border-top: none !important;
}

    thead tr {
        border-top: none !important;
    }

th {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
    border-top: red !important;
}

td {
    font-size: 12px;
    padding: 2px 10px;
}

.type-cell {
    width: 100px;
}

.name-cell {
    width: 200px;
}

.data-type-cell {
    width: 150px;
}
