.table {
    background: #fafafa;
    border: 1px solid #eee;
}

th {
    font-size: 13px;
    font-weight: bold;
    border: none !important;
    border-right: 1px solid #eee !important;
    padding: 5px 10px;
}

td {
    font-size: 14px;
    padding: 5px 10px;
    background: #fff;
}

.status-code-cell {
    width: 100px;
}

.content-type-cell {
    width: 175px;
}

.schema-cell {
    padding: 20px;
}

pre {
    font-size: 12px;
    font-family: Consolas;
    color: #555;
}