.content-preview {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.content-preview-toolbar {
    grid-row: 1;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column-gap: 5px;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

    .content-preview-toolbar .toolbar-panel .btn {
        padding: 2px 8px;
        background: none;
        border-color: #ddd !important;
    }

        .content-preview-toolbar .toolbar-panel .btn:hover {
            border-color: var(--accentLight) !important;
        }

        .content-preview-toolbar .toolbar-panel .btn .icon {
            margin: 0;
            font-size: 12px;
            color: #888;
        }

        .content-preview-toolbar .toolbar-panel .btn:hover .icon {
            color: var(--accentLight);
        }

    .content-preview-toolbar .toolbar-panel ::deep .rz-dropdown {
        height: 30px !important;
        width: 100px;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        background: none;
        border-color: #ddd;
        color: #888;
        cursor: pointer;
    }

        .content-preview-toolbar .toolbar-panel ::deep .rz-dropdown:focus {
            border-color: #ddd;
            outline: none !important;
            box-shadow: none !important;
        }

        .content-preview-toolbar .toolbar-panel ::deep .rz-dropdown:hover {
            border-color: var(--accentLight);
            color: var(--accentLight);
        }

        .content-preview-toolbar .toolbar-panel ::deep .rz-dropdown .rz-dropdown-trigger {
            height: 30px !important;
            color: #aaa;
        }

        .content-preview-toolbar .toolbar-panel ::deep .rz-dropdown:hover .rz-dropdown-trigger {
            color: var(--accentLight);
        }

    .content-preview-toolbar .buttons-toolbar-panel {
        grid-column: 1;
    }

    .content-preview-toolbar .encoding-toolbar-panel {
        grid-column: 2;
    }

.content-preview-display {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}

    .content-preview-display .preview-container {
        height: 100%;
        overflow: hidden;
    }

        .content-preview-display .preview-container pre {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 10px 10px 10px;
            font-size: 12px;
            font-family: inherit;
            font-size: 12px;
            font-family: Consolas;
        }

        .content-preview-display .preview-container img {
            max-width: 100%;
            max-height: 100%;
        }

        .content-preview-display .preview-container embed {
            width: 100%;
            height: 100%;
        }
