@using TrakHound.Blazor.Components
@using TrakHound.Instances
@inject TrakHoundInstanceConfiguration instanceConfiguration

@{
    var basePath = !string.IsNullOrEmpty(instanceConfiguration.BasePath) ? $"/{instanceConfiguration.BasePath.Trim('/')}/" : "/";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@basePath" />

    @* Package Stylesheets *@
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/light.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/regular.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/duotone.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/brands.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-light.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-regular.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-solid.min.css" />

    @* Radzen Stylesheets *@
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

    @* TrakHound Stylesheets *@
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/trakhound/light/trakhound-ui.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Diagrams/style.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Diagrams/default.styles.css" />

    @* Application Stylesheet *@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TrakHound.Instance.styles.css" />

    @* Favicon *@
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="_favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <TrakHoundHeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: true)" />

</head>

<body>

    <InstanceRoutes @rendermode="new InteractiveServerRenderMode(prerender: true)" />

    <TrakHound.Instance.Pages.InstanceDisconnectionPage />

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script src="_content/TrakHound.Blazor.Hosting/js/trakhound-blazor.js"></script>
    <script src="_content/TrakHound.Blazor.Hosting/js/trakhound.js"></script>
    <script src="_content/TrakHound.Blazor.Diagrams/script.js"></script>

</body>

</html>
