<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>

		<!--Console-->
		<target name="logconsole" xsi:type="Console" />

		<!--Log File-->
		<target xsi:type="File" name="file" fileName="logs\${logger}\${shortdate}.${lowercase:${level}}.log" keepFileOpen="true" concurrentWrites="true" openFileCacheTimeout="1"
			layout="${longdate}|${message} ${exception:format=tostring}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!--Write to Console-->
		<logger name="TrakHound.*" minlevel="Info" writeTo="logconsole" />

		<!--Error Logger-->
		<logger name="TrakHound.*" minlevel="Error" writeTo="file" final="true" />

		<!--Warning Logger-->
		<logger name="TrakHound.*" minlevel="Warning" writeTo="file" final="true" />

		<!--Info Logger-->
		<!--<logger name="TrakHound.*" minlevel="Info" writeTo="file" final="true" />-->

		<!--Debug Logger-->
		<!--<logger name="TrakHound.*" minlevel="Debug" writeTo="file" final="true" />-->

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" minlevel="Warning" writeTo="file" final="true" />
		<logger name="System.Net.Http.*" minlevel="Warning" writeTo="file" final="true" />
		
	</rules>
</nlog>