@inherits TrakHoundComponentBase

<div class="footer-panel">
    <div class="company-panel">
        <div class="company-container">
            <div class="company-logo-container">
                <img class="company-logo-image" src="@GetLocation("img/trakhound-logo-v5-01-footer.svg")" />
                <img class="company-logo-image-dark" src="@GetLocation("img/trakhound-logo-v5-01-footer-dark.svg")" />
            </div>
            <div class="company-information-container">
                <span class="company-information-name footer-label">TrakHound Inc.</span>
                <span class="company-information-website footer-label"><a href="http://www.trakhound.com" target="_blank">www.trakhound.com</a></span>
            </div>
        </div>
    </div>
    <div class="contact-panel">
        <div class="contact-email-panel">
            <span class="contact-information-email footer-label"><a href="mailto:info@trakhound.com">info@trakhound.com</a></span>
        </div>
        <div class="contact-social-panel">
            <a href="https://github.com/TrakHound" target="_blank" class="social-link footer-label"><span class="fa-brands fa-github"></span></a>
            <a href="https://www.linkedin.com/company/trakhound" target="_blank" class="social-link footer-label"><span class="fa-brands fa-linkedin"></span></a>
            <a href="https://twitter.com/TrakHound" target="_blank" class="social-link footer-label"><span class="fa-brands fa-twitter"></span></a>
        </div>
    </div>
    <div class="copyright-panel">
        <span class="copyright footer-label">Copyright (c) 2024 TrakHound Inc., All Rights Reserved.</span>
    </div>
</div>
