.footer-panel {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr max-content max-content 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
}

.company-panel {
    grid-row: 1;
    grid-column: 2;
}

.company-container {
    display: grid;
    grid-template-columns: 1fr max-content max-content 1fr;
    grid-column-gap: 10px;
}

.company-logo-container {
    grid-column: 2;
}

.company-logo-image,
.company-logo-image-dark {
    height: 30px;
}

.company-logo-image {
    display: none;
}

.footer-container:hover .company-logo-image {
    display: block;
}

.company-logo-image-dark {
    display: block;
}

.footer-container:hover .company-logo-image-dark {
    display: none;
}

.footer-container .footer-label {
    color: #4d6580;
    color: #bbb;
    color: rgba(255, 255, 255, 0.15);
}

.footer-container:hover .footer-label {
    color: #607e9f;
    color: #888;
    color: rgba(255, 255, 255, 0.5);
    color: var(--accentVeryLight);
}

.footer-container .footer-label a {
    color: #4d6580;
    color: #bbb;
    color: rgba(255, 255, 255, 0.15);
}

.footer-container:hover .footer-label a {
    color: #607e9f;
    color: #888;
    color: rgba(255, 255, 255, 0.5);
    color: var(--accentVeryLight);
}

.footer-container .footer-label a:hover {
    color: var(--accentVeryLight);
    color: var(--accent);
}

.company-information-container {
    grid-column: 3;
}

.company-information-name {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.company-information-website {
    display: block;
    font-size: 12px;
    line-height: 16px;
}

    .company-information-website a {
        text-decoration: none;
    }

        .company-information-website a:hover {
            text-decoration: underline;
        }

.contact-panel {
    grid-row: 1;
    grid-column: 3;
}

.contact-information-email {
    display: block;
    font-size: 12px;
    line-height: 16px;
}

    .contact-information-email a {
        text-decoration: none;
    }

        .contact-information-email a:hover {
            text-decoration: underline;
        }

.company-social-panel {
    display: block;
    padding-top: 5px;
}

.social-link {
    font-size: 14px;
    margin-right: 8px;
}

    .social-link:hover {
        color: var(--accentVeryLight) !important;
        color: var(--accent) !important;
    }

    .social-link:last-child {
        margin-right: 0;
    }

.copyright-panel {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.copyright {
    font-size: 11px;
}
