@inherits TrakHoundComponentBase

<div class="header-panel">
    <div class="title-container">
        <div class="title-logo-container">
            <a href="@GetPath("/")">
                <img class="title-logo" src="@GetLocation("img/trakhound-logo-v5-03-text.svg")" />
            </a>
        </div>
    </div>
    <div class="navigation-container">
        <a href="@GetUrl("_admin")" target="_blank" class="btn btn-command"><span class="icon fa-solid fa-sharp fa-gear"></span>Open Admin</a>
    </div>
</div>
