.explorer-tree-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 200px;
    padding-top: 15px;
    background: #fcfcfe;
}

    .explorer-tree-view ::deep .folder > .tree-item-content > .tree-item-header-container > .tree-item-header > .default-header-content-container > .icon-container > .icon {
        color: #9cb3c9;
    }
