.preview-panel {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 2px;
}

.toolbar-panel {
    grid-row: 1;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.toolbar-panel-content {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

.toolbar-panel-left {
    grid-column: 1;
    padding-left: 10px;
}

.toolbar-panel-center {
    grid-column: 2;
}

.toolbar-panel-right {
    grid-column: 3;
}

.toolbar-panel .header-link {
    font-size: 14px;
    line-height: 31px;
}

.toolbar-panel ::deep .rz-dropdown {
    padding: 4px 10px !important;
    height: 31px !important;
    max-width: 100px;
    border-color: #ddd;
    border-radius: 3px !important;
}

.toolbar-panel ::deep .rz-dropdown-trigger {
    padding: 4px 0px !important;
    height: 31px !important;
}

.toolbar-panel .btn .icon {
    margin: 0;
}


.frame-panel {
    grid-row: 2;
}

.preview {
    width: 100%;
    height: 100%;
}

/*.preview {
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}*/
