.route-node {
    width: 300px;
    min-height: 90px;
    padding: 5px 20px 0px;
    background: #ffeedd;
    border: 1px solid orange;
    background: #fff;
    background: var(--panelItemBackground);
    border: 1px solid #bbb;
    border: 2px solid var(--borderColorMedium);
    border-radius: 4px;
}

.diagram-node .route-node:hover {
    background: var(--accentVeryVeryLight);
    background: var(--panelItemBackgroundHover);
    border: 1px solid var(--accentLight);
}

.diagram-node.selected .route-node {
    background: var(--accentVeryLight);
    background: var(--panelItemBackgroundHover);
    border: 1px solid var(--accent);
}

.route-node .node-type {
    font-size: 10px;
    color: var(--textMild);
    text-align: center;
    margin: 0;
    padding: 0;
}

.diagram-node.selected .route-node .node-type,
.diagram-node .route-node:hover .node-type {
    color: var(--accentLight);
}

.route-node .node-type .icon {
    font-size: 10px;
    margin-right: 8px;
}

.route-node .node-pattern-label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-left: 3px;
    color: var(--textMild);
}

.route-node ::deep .node-pattern.small {
    height: 32px;
    margin: 0;
}

    .route-node ::deep .node-pattern.small .form-group {
        height: 32px;
    }

    .route-node ::deep .node-pattern.small input {
        font-size: 12px !important;
        padding: 3px 10px;
        height: 32px !important;
    }

.route-node .node-id {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.25);
    color: var(--textLight);
    padding-top: 4px;
    text-align: center;
}

.diagram-node.selected .route-node .node-id,
.diagram-node .route-node:hover .node-id {
    color: var(--accentLight);
}

::deep .diagram-port {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    background: var(--panelItemBackground);
    border: 1px solid #aaa;
    border: 1px solid var(--borderColorMedium);
}

    ::deep .diagram-port.has-links {
        background: var(--accentLight);
        border: 1px solid var(--accentLight);
    }

    ::deep .diagram-port.router-input-port {
        border-radius: 50%;
        top: 50%;
        left: -8px;
    }

    ::deep .diagram-port.driver-output-port {
        border-radius: 50%;
        top: 50%;
        right: -8px;
    }

    ::deep .diagram-port.redirect-port {
        border-radius: 50%;
        bottom: 10%;
        right: -8px;
    }
