.router-node {
    width: 271px;
    min-height: 90px;
    padding: 5px 20px 0px;
    background: var(--colorGreenHover);
    background: #fff;
    border: 1px solid var(--colorGreen);
    border: 1px solid #bbb;
    border-radius: 4px;
}

.diagram-node .router-node:hover {
    background: var(--accentVeryVeryLight);
    border: 1px solid var(--accentLight);
}

.diagram-node.selected .router-node {
    background: var(--accentVeryLight);
    border: 1px solid var(--accent);
}

.diagram-node .router-node .node-type {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    padding: 0;
}

.diagram-node.selected .router-node .node-type,
.diagram-node .router-node:hover .node-type {
    color: var(--accentLight);
}

    .diagram-node .router-node .node-type .icon {
        font-size: 10px;
        margin-right: 8px;
    }

.diagram-node .router-node .node-name-label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-left: 3px;
}

.diagram-node .router-node ::deep .node-name.small {
    height: 32px;
    margin: 0;
}

    .diagram-node .router-node ::deep .node-name.small .form-group {
        height: 32px;
    }

    .diagram-node .router-node ::deep .node-name.small input {
        font-size: 12px !important;
        padding: 3px 10px;
        height: 32px !important;
    }

.diagram-node .router-node .node-id {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.25);
    padding-top: 4px;
    text-align: center;
}

.diagram-node.selected .router-node .node-id,
.diagram-node .router-node:hover .node-id {
    color: var(--accentLight);
}

::deep .diagram-port {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #aaa;
}

    ::deep .diagram-port.has-links {
        background: var(--accentLight);
        border: 1px solid var(--accentLight);
    }

    ::deep .diagram-port.router-input-port {
        border-radius: 50%;
        top: 50%;
        left: -8px;
    }

    ::deep .diagram-port.router-output-port {
        border-radius: 50%;
        top: 50%;
        right: -8px;
    }
