.metadata-table {
    border: 1px solid var(--tableHeaderBorderColor);
}

    .metadata-table th {
        font-size: 12px;
        padding: 5px 10px;
    }

    .metadata-table td {
        font-size: 12px;
        padding: 5px 10px;
    }

        .metadata-table td a {
            text-decoration: none;
        }

    .metadata-table .view {
        width: 50px;
    }

    .metadata-table ::deep .name {
        font-weight: bold;
    }

    .metadata-table .delete {
        width: 30px;
        padding: 0;
    }

        .metadata-table .delete .btn {
            height: 30px;
            width: 30px;
            border: none;
            border-radius: 0;
            padding: 0;
        }

            .metadata-table .delete .btn .icon {
                margin: 0;
                font-size: 12px;
            }
