@using TrakHound.Entities

@if (ObjectExplorerService != null && Definition != null)
{
    var inheritedDefinitions = ObjectExplorerService.GetInheritedDefinitions(Definition.Uuid);

    var definitions = new List<ITrakHoundDefinitionEntity>();
    if (!inheritedDefinitions.IsNullOrEmpty()) definitions.AddRange(inheritedDefinitions.Reverse());
    definitions.Add(Definition);

    <div class="definition-breadcrumbs">
        <BreadcrumbLinks DividerText="/">

            @foreach (var definition in definitions)
            {
                var definitionLink = "#";
                if (ObjectExplorerService.DefinitionsQueryLinkFunction != null) definitionLink = ObjectExplorerService.DefinitionsQueryLinkFunction(definition.Uuid);

                <BreadcrumbLink Display="@definition.Type" Link="@definitionLink" SelectionType="BreadcrumbSelectionType.Link" />
            }
        </BreadcrumbLinks>
    </div>
}

@code {

    [CascadingParameter(Name = "ObjectExplorerService")]
    public ObjectExplorerService ObjectExplorerService { get; set; }

    [Parameter]
    public ITrakHoundDefinitionEntity Definition { get; set; }

}
