@using TrakHound.Entities

@if (!SourceChain.IsNullOrEmpty())
{
    <table class="source-table table table-sm">
        <thead>
            <tr>
                <th></th>
                <th>Uuid</th>
                <th>Type</th>
                <th>Sender</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var source in SourceChain)
            {
                var link = "#";
                if (ObjectExplorerService.SourcesQueryLinkFunction != null) link = ObjectExplorerService.SourcesQueryLinkFunction(source.Uuid);

                <tr>
                    <td class="view"><a href="@link">View</a></td>
                    <td class="uuid">@source.Uuid</td>
                    <td class="type">@source.Type</td>
                    <td class="sender">@source.Sender</td>
                </tr>
            }

        </tbody>
    </table>
}

@code {

    [CascadingParameter(Name = "ObjectExplorerService")]
    public ObjectExplorerService ObjectExplorerService { get; set; }

    [Parameter]
    public IEnumerable<ITrakHoundSourceEntity> SourceChain { get; set; }

}