.object-treeview {
    padding-top: 10px;
    padding-bottom: 400px;
    padding-left: 10px;
}

.object-treeview-table {
    width: 100%;
    border: none !important;
    border-collapse: collapse;
    border-spacing: 0 !important;
}