.object-information {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    grid-template-columns: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.breadcrumbs-panel {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 8px 20px;
    border-bottom: 1px solid var(--borderColorLight);
}

.header-panel {
    grid-row: 2;
    grid-column: 1;
    padding: 6px 20px 4px;
    border-bottom: 1px solid var(--borderColorLight);
}

    .header-panel .header-panel-container {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        grid-column-gap: 12px;
    }

    .header-panel .icon-container {
        grid-column: 1;
    }

    .header-panel .icon {
        font-size: 16px;
        line-height: 36px;
        color: var(--textLight);
    }

    .header-panel .title-container {
        grid-column: 2;
    }

    .header-panel .title {
        font-size: 13px;
        font-weight: bold;
        line-height: 38px;
        color: var(--textMild);
    }

    .header-panel .description-container {
        grid-column: 3;
    }

.toolbar-panel {
    grid-row: 2;
    grid-column: 2;
    border-bottom: 1px solid var(--borderColorLight);
    text-align: right;
}

    .toolbar-panel .toolbar-panel-container {
        padding: 5px 10px;
    }

    .toolbar-panel .toolbar-panel-container .btn {
        margin-left: 8px;
        font-size: 13px;
        border-radius: 2px;
        padding: 8px 15px;
    }

        .toolbar-panel .toolbar-panel-container .btn .icon {
            font-size: 14px;
        }

.content-panel {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
}

.description-panel {
    display: block;
    padding: 15px 20px 20px 40px;
    border-bottom: 1px solid var(--borderColorLight);
}

    .description-panel .panel-label {
        padding-bottom: 5px;
        border-bottom: 1px solid var(--borderColorLight);
    }

    .description-panel td {
        line-height: 22px;
    }

    .description-panel .label {
        font-size: 12px;
        font-weight: bold;
        color: var(--textMild);
        padding-right: 10px;
        min-width: 120px;
        vertical-align: top;
        border-right: 1px solid var(--borderColorVeryVeryLight);
        border-bottom: 1px solid var(--borderColorVeryVeryLight);
    }

    .description-panel tr:hover .label {
        color: var(--accentLight);
    }

    .description-panel .value {
        font-size: 12px;
        color: var(--textDark);
        padding-left: 10px;
        border-bottom: 1px solid var(--borderColorVeryVeryLight);
    }

        .description-panel .value a {
            font-size: 12px;
            text-decoration: none;
            color: var(--accentVeryLight) !important;
        }


.metadata-panel {
    display: block;
    padding: 20px 20px 0 40px;
    border-bottom: 1px solid var(--borderColorLight);
}

.metadata-panel-container {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr;
}

.metadata-header-container {
    grid-row: 1;
    grid-column: 1;
}

.metadata-toolbar-container {
    grid-row: 1;
    grid-column: 2;
}

    .metadata-toolbar-container .btn {
        font-size: 13px;
        border-radius: 2px;
        padding: 8px 15px;
    }

        .metadata-toolbar-container .btn .icon {
            font-size: 14px;
        }

.metadata-table-container {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}


.inheritance-panel {
    display: block;
    padding: 20px 20px 0 40px;
    border-bottom: 1px solid var(--borderColorLight);
}

.transaction-panel {
    display: block;
    padding: 20px 20px 0 40px;
    border-bottom: 1px solid var(--borderColorLight);
}

.source-panel {
    display: block;
    padding: 20px 20px 0 40px;
}

.panel-label {
    display: block;
    font-size: 28px;
    font-weight: bold;
    color: var(--textVeryLight);
    margin-bottom: 10px;
}

.definition-breadcrumb-cell ::deep .definition-breadcrumbs {
    margin-left: -5px;
}
