.add-modal-panel ::deep .add-modal .modal-body {
    padding: 20px 40px 10px;
}

.add-modal-panel ::deep .add-modal .form-field {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

    .add-modal-panel ::deep .add-modal .form-field label {
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .add-modal-panel ::deep .add-modal .form-field .rz-textbox {
        display: block;
        width: 100%;
    }

    .add-modal-panel ::deep .add-modal .form-field .rz-textarea {
        display: block;
        width: 100%;
    }

.add-modal-panel ::deep .add-modal .btn-primary.disabled .icon {
    animation: spin 1s linear infinite;
}
