.add-modal-panel ::deep .add-modal .modal-body {
    padding: 0 !important;
}

.add-modal-panel ::deep .add-modal .rz-tabview-panel {
    padding: 20px 50px;
}

.add-modal-panel ::deep .add-modal .rz-tabview-nav a {
    padding: 10px 25px !important;
}

.add-modal-panel ::deep .add-modal .rz-tabview-nav .rz-tabview-title {
    padding: 0 !important;
    text-transform: none;
    letter-spacing: normal;
    color: var(--textDark) !important;
}

.add-modal-panel ::deep .edit-container {
    padding: 10px 25px !important;
}

.add-modal-panel ::deep .add-modal .form-field {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

    .add-modal-panel ::deep .add-modal .form-field label {
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--textDark);
    }

    .add-modal-panel ::deep .add-modal .form-field .rz-textbox {
        display: block;
        width: 100%;
    }

.add-modal-panel ::deep .add-modal .rz-dropdown {
    width: 300px;
    height: 44px !important;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
}

.add-modal-panel ::deep .add-modal .rz-dropdown-trigger {
    height: 44px !important;
}

.add-modal-panel ::deep .add-modal .btn-primary.disabled .icon {
    animation: spin 1s linear infinite;
}

.add-modal-panel .loading-panel {
    text-align: center;
    padding: 40px;
}

.add-modal-panel ::deep .add-modal .text-box {
    margin: 0;
    font-size: 12px;
}

.add-modal-panel ::deep .add-modal .text-box input {
    font-size: 14px !important;
}

.add-modal-panel ::deep textarea {
    height: 300px;
    padding: 5px 10px;
    font-size: 12px;
}

.add-modal-panel ::deep .add-modal .path-output {
    display: block;
    color: var(--textMild);
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    height: 12px;
}