@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using TrakHound.Entities

<div class="object-treeview">
    
    @if (ObjectExplorerService != null)
    {
        var treeItems = ObjectExplorerService.GetTreeItems();
        if (!treeItems.IsNullOrEmpty())
        {
            <CascadingValue Value="this">
                <table class="object-treeview-table" cellspacing="0" cellpadding="0">
                    <tbody>
                        <Virtualize TItem="ObjectExplorerTreeItemModel" Items="treeItems" Context="treeItem" OverscanCount="50">
                            <ObjectExplorerTreeItem TreeItem="@treeItem" />
                        </Virtualize>
                    </tbody>
                </table>
            </CascadingValue>
        }
    }

</div>

@code {

    private ThrottleEvent renderThrottle = new ThrottleEvent(500);

    [CascadingParameter(Name = "ObjectExplorerService")]
    public ObjectExplorerService ObjectExplorerService { get; set; }

    [Parameter]
    public int OverscanCount { get; set; } = 200;


    protected override void OnInitialized()
    {
        // ObjectExplorerService.NamespaceExpanded += NamespaceExpanded;
        // ObjectExplorerService.NamespaceCollapsed += NamespaceCollapsed;

        renderThrottle.Elapsed += RenderThrottleElapsed;
    }

    public async Task Render(bool force = false)
    {
        if (force)
        {
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            renderThrottle.Set();
        }
    }

    private async void RenderThrottleElapsed(object sender, EventArgs args)
    {
        await InvokeAsync(StateHasChanged);
    }


    private void QueryNamespace(string ns)
    {
        var resultQuery = $"select >> from [{ns}:/]";
        var queryLink = $"{ObjectExplorerService.BaseUrl}/entities/objects?query={resultQuery}";

        navigationManager.NavigateTo(queryLink);
    }

    private async void PasteNamespace(string ns)
    {
        var path = $"{ns}:/";
        if (await ObjectExplorerService.Paste(path))
        {
            ObjectExplorerService.AddNotification(NotificationType.Information, "Objects Pasted Successfuly", path);
            await InvokeAsync(StateHasChanged);
        }
    }

    private void AddNamespaceObject(string ns)
    {
        ObjectExplorerService.AddService.AddObject($"{ns}:/");
    }

    // private async void NamespaceExpanded(object sender, string ns)
    // {
    //     await InvokeAsync(StateHasChanged);
    // }

    // private async void ExpandNamespace(string ns)
    // {
    //     var isExpanded = ObjectExplorerService.GetNamespaceExpanded(ns);
    //     if (!isExpanded)
    //     {
    //         ObjectExplorerService.ExpandNamespace(ns);
    //         await InvokeAsync(StateHasChanged);
    //     }
    // }

    // private async void NamespaceCollapsed(object sender, string ns)
    // {
    //     await InvokeAsync(StateHasChanged);
    // }

    // private async void CollapseNamespace(string ns)
    // {
    //     var isExpanded = ObjectExplorerService.GetNamespaceExpanded(ns);
    //     if (isExpanded)
    //     {
    //         ObjectExplorerService.CollapseNamespace(ns);
    //         await InvokeAsync(StateHasChanged);
    //     }
    // }

}
