.source-table {
    border: 1px solid var(--tableHeaderBorderColor);
}

    .source-table th {
        font-size: 12px;
        padding: 5px 10px;
    }

    .source-table td {
        font-size: 12px;
        padding: 5px 10px;
    }

        .source-table td a {
            text-decoration: none;
        }

    .source-table .view {
        width: 50px;
    }

    .source-table ::deep .type {
        font-weight: bold;
    }
