.inheritance-table {
    border: 1px solid var(--tableHeaderBorderColor);
}

    .inheritance-table th {
        font-size: 12px;
        padding: 5px 10px;
    }

    .inheritance-table td {
        font-size: 13px;
        padding: 5px 10px;
    }

        .inheritance-table td a {
            text-decoration: none;
        }

    .inheritance-table .view {
        width: 50px;
    }

    .inheritance-table ::deep .type {
        font-weight: bold;
    }
