.metadata-table {
    border-left: 1px solid #ddd !important;
}

    .metadata-table th {
        font-size: 12px;
        color: #555;
        border-bottom: 1px solid #ddd !important;
        padding: 5px 10px;
    }

    .metadata-table td {
        font-size: 12px;
        color: #333;
        padding: 5px 10px;
        border-right: 1px solid #ddd !important;
    }

        .metadata-table td a {
            text-decoration: none;
        }

    .metadata-table .view {
        width: 50px;
    }

    .metadata-table ::deep .name {
        font-weight: bold;
    }

    .metadata-table .delete {
        width: 30px;
        padding: 0;
    }

    .metadata-table .delete .btn {
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 0;
        padding: 0;
    }

        .metadata-table .delete .btn .icon {
            margin: 0;
            font-size: 12px;
        }
