.breadcrumb-link {
    color: var(--buttonLinkText);
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}

    .breadcrumb-link:hover a {
        text-decoration: underline;
        color: var(--buttonLinkTextHover);
    }

.breadcrumb-organizer {
    color: var(--textMild);
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}
