.breadcrumb-links ::deep .divider {
    vertical-align: top;
    line-height: 30px;
}

    .breadcrumb-links ::deep .divider:last-child {
        display: none;
    }

.breadcrumb-links ::deep .divider-text {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--borderColorLight);
}

.breadcrumb-links ::deep .divider-icon {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--borderColorLight);
}
