.calendar {
    background: #fafafa;
    background: var(--panelBackgroundMedium);
    border: 1px solid var(--borderColor);
    font-family: Arial;
}

    .calendar thead th {
        text-align: center;
        border-right: 1px solid var(--borderColorLight);
        border-bottom: 1px solid var(--borderColorLight);
        background: var(--panelBackgroundMedium);
        padding: 5px;
        font-size: 11px;
        font-weight: normal;
    }

    .calendar tbody td {
        text-align: center;
        border-right: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
        font-size: 12px;
        padding: 4px 10px;
        color: var(--textDark);
    }

    .calendar tbody tr:last-child td {
        border-bottom: none;
    }

    .calendar tbody td:last-child {
        border-right: none;
    }

    .calendar tbody td.previous-month {
        background: var(--panelBackgroundMedium);
        color: var(--textLight);
    }

    .calendar tbody td.next-month {
        background: var(--panelBackgroundMedium);
        color: var(--textLight);
    }

    .calendar tbody td.selected-day {
        background: var(--accent);
        color: #fff;
        font-weight: bold;
    }
