.context-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
}

    .context-menu.show {
        display: block;
    }

    .context-menu.hide {
        display: none;
    }

.context-menu-container {
    position: absolute;
    background: var(--panelItemBackground);
    padding: 2px;
    border: 1px solid var(--borderColor);
}

.context-menu ::deep .context-menu-item {
    padding: 2px 15px;
    font-size: 12px;
    border: 1px solid transparent;
}

    .context-menu ::deep .context-menu-item:hover {
        border-color: var(--accent);
        background: var(--panelItemBackgroundHover);
        cursor: default;
    }

.context-menu ::deep .context-menu-separator {
    display: block;
    border-top: 1px solid var(--borderColorLight);
    margin-top: 5px;
    height: 5px;
    width: 100%;
}

.context-menu ::deep .context-menu-item .context-menu-item-icon {
    display: inline-block;
    border-right: 1px solid var(--borderColorLight);
    width: 25px;
    padding-right: 5px;
    margin-right: 5px;
    color: var(--accent);
}

.context-menu ::deep .context-menu-item:hover .context-menu-item-icon {
    border-color: transparent;
}

.context-menu ::deep .context-menu-item .context-menu-item-text {
    color: var(--textDark);
}

.context-menu ::deep .context-menu-item:hover .context-menu-item-text {
    color: var(--textDark);
}
