.copy-label {
    position: relative;
    color: var(--textDark);
}

    .copy-label a {
        color: var(--buttonLinkText);
    }

    .copy-label a:hover label {
        cursor: pointer;
        color: var(--buttonLinkTextHover);
    }

.copy-label label {
    padding-right: 5px;
}

.copy-label button {
    display: none;
    position: absolute;
    top: -3px;
    vertical-align: middle;
    padding: 5px 10px;
}

.copy-label button .icon {
    margin: 0;
    color: #aaa;
    font-size: 13px;
}

    .copy-label button:hover .icon {
        color: var(--accentLight);
    }

    .copy-label:hover button {
        display: inline;
    }
