@if (!string.IsNullOrEmpty(Link))
{
    <TrakHoundNavLink href="@Link" class="btn list-menu-item" Match="NavLinkMatch.All">@Text</TrakHoundNavLink>
}
else
{
    <button class="btn list-menu-item @GetActiveClass()" @onclick="Selected">@Text</button>
}

@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public EventCallback Selected { get; set; }


    private string GetActiveClass()
    {
        return IsActive ? "active" : "";
    }

}
