
.markdown-content ::deep h1 {
    font-size: 26px;
}

.markdown-content ::deep h2 {
    font-size: 22px;
}

.markdown-content ::deep h3 {
    font-size: 20px;
}

.markdown-content ::deep h4 {
    font-size: 18px;
}

.markdown-content ::deep h5 {
    font-size: 16px;
}

.markdown-content ::deep h6 {
    font-size: 14px;
}
