.object-results {
    grid-row: 4;
    height: 100%;
    overflow-y: hidden;
}

    .object-results ::deep .rz-splitter {
        height: 100%;
        overflow-y: hidden;
    }

    .object-results ::deep .rz-splitter-pane {
        height: 100%;
        overflow-y: hidden;
    }

    .object-results ::deep .rz-tabview {
        height: 100%;
        overflow: hidden;
    }

    .object-results ::deep .rz-tabview-panels {
        height: 100%;
        overflow: hidden;
        border-top: 1px solid var(--borderColor);
    }

    .object-results ::deep .rz-tabview-panel {
        height: 100%;
        overflow: hidden;
        padding: 0;
    }

    .object-results ::deep .rz-tabview-nav {
        padding: 0;
    }

    .object-results ::deep .rz-tabview li {

    }

        .object-results ::deep .rz-tabview li:hover a {
            background: #fafafa;
        }

        .object-results ::deep .rz-tabview li.rz-tabview-selected {
            border-bottom-color: var(--accent) !important;
        }

        .object-results ::deep .rz-tabview li a .rz-tabview-title {
            font-family: Roboto;
            font-weight: 400;
            text-transform: none;
            color: #333 !important;
        }


    .object-results ::deep .rz-tabview-nav a {
        padding: 0 !important;
    }

    .object-results ::deep .sidebar-tab-header {
        padding: 8px 12px;
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--borderColorLight);
    }

        .object-results ::deep .sidebar-tab-header .sidebar-tab-header-icon {
            font-size: 14px;
        }

        .object-results ::deep .sidebar-tab-header .sidebar-tab-header-title {
            font-size: 13px;
        }

    .object-results ::deep .tab-header {
        padding: 6px 15px;
        text-transform: none;
        letter-spacing: normal;
    }

        .object-results ::deep .tab-header .tab-header-icon {
            font-size: 12px;
            margin-right: 5px;
        }

        .object-results ::deep .tab-header .tab-header-title {
            font-size: 12px;
        }

    .object-results ::deep .tab-panel {
        height: 100%;
        overflow: hidden;
    }


    .object-results ::deep .rz-tabview li:hover a .tab-header-icon {
        color: var(--accent) !important;
    }

    .object-results ::deep .rz-tabview li:hover a .tab-header-title {
        color: var(--accent) !important;
    }

    .object-results ::deep .rz-tabview li.rz-tabview-selected a .tab-header-icon {
        color: var(--accent) !important;
        font-weight: 600;
    }

    .object-results ::deep .rz-tabview li.rz-tabview-selected a .tab-header-title {
        color: var(--accent) !important;
        font-weight: 600;
    }


.objects-tree-view {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column: 1;
    border-right: 1px solid #ddd;
    border-right: 1px solid var(--borderColor);
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.objects-tree-toolbar {
    grid-row: 1;
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid var(--borderColor);
}

.objects-tree-content {
    grid-row: 2;
    padding: 0;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    background: #fcfcfe;
    background: var(--panelBackgroundMedium);
}

    .objects-tree-view ::deep .server-tree-view {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 300px;
    }

.objects-content {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-left: 1px solid var(--borderColor);
    background: #e9ecef;
    background: var(--panelBackgroundDark);
}

    .objects-content ::deep .rz-tabview {
        height: 100%;
        overflow: auto;
        background: #fff;
        background: var(--panelBackground);
    }

    .objects-content ::deep .object-information {
        background: #fff;
        background: var(--panelBackground);
    }

    .objects-content ::deep .rz-tabview-panel {
        height: 100%;
        overflow: auto;
    }
