.password-box {
    margin: 5px 0px 10px;
}

    .password-box .title {
        font-size: 12px;
        color: var(--textSecondary);
        margin-bottom: 2px;
    }

    .password-box .subtitle {
        color: var(--textSecondary);
        margin-left: 5px;
    }

    .password-box .form-group {
        margin-bottom: 0px;
    }

    .password-box input {
        background: var(--inputBackground);
        border: 1px solid var(--borderLight);
        color: var(--textPrimary);
        height: auto !important;
        padding: 7px 12px;
    }

        .password-box input::placeholder {
            font-size: 12px;
            font-style: italic;
            color: var(--textSecondary);
        }

    .password-box .modal-body {
        background: var(--panelBackground);
    }

    .password-box .modal .form-control {
        font-size: 26px;
        text-align: center;
    }
