<div id="reconnection-panel" style="display: none;">
    <div id="reconnection-toast">
        <span class="title"><span class="icon fa-sharp fa-solid fa-plug"></span>Disconnected from Server</span>
        <span id="reconnection-panel-label" class="label"></span>
    </div>
</div>
