.information-panel {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.header-panel {
    grid-row: 1;
    padding: 0px 10px 15px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid var(--borderColorLight);
}

    .header-panel .icon {
        font-size: 16px;
        color: #aaa;
        margin-right: 5px;
    }

    .header-panel .title {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        color: var(--textDark);
        margin-right: 10px;
    }

    .header-panel .subtitle {
        font-size: 12px;
        color: #888;
        color: var(--textMild);
    }

.toolbar-panel {
    grid-row: 2;
    padding: 10px 0px;
}

.toolbar-panel-container {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr;
    grid-column-gap: 20px;
}

.toolbar-panel .btn {
    font-size: 14px;
    width: 130px;
    padding: 10px 20px;
    border-radius: 2px;
}

    .toolbar-panel .btn:focus {
        box-shadow: none;
    }

.toolbar-panel ::deep .rz-calendar input {
    font-size: 14px;
}

.toolbar-panel label {
    font-size: 14px;
    color: #888;
    color: var(--textMild);
    line-height: 40px;
    margin-right: 10px;
}

.table-panel {
    grid-row: 3;
    height: 100%;
    overflow: hidden;
}

    .table-panel ::deep .rz-data-grid {
        height: 100%;
        overflow: hidden;
    }

    .table-panel ::deep td {
        padding: 0;
    }

    .table-panel ::deep tr:last-child td {
        border-bottom: 1px solid #ddd;
    }

        .table-panel ::deep td .rz-cell-data {
            padding: 3px 10px;
            font-size: 12px;
        }

        .table-panel ::deep td.id .rz-cell-data {
            font-size: 11px;
            font-family: Consolas;
            color: #888;
        }

        .table-panel ::deep td.status .rz-cell-data {
            /*font-weight: bold;*/
        }

        .table-panel ::deep td.status .rz-cell-data .icon {
            margin-right: 7px;
        }

            .table-panel ::deep td.status .rz-cell-data .started {
                color: var(--colorGreen);
            }

            .table-panel ::deep td.status .rz-cell-data .stopped {
                color: var(--colorRed);
            }

            .table-panel ::deep td.status .rz-cell-data .running {
                color: var(--colorGreen);
            }

            .table-panel ::deep td.status .rz-cell-data .wait {
                color: var(--colorOrange);
            }

            .table-panel ::deep td.status .rz-cell-data .completed {
                color: var(--accent);
            }

            .table-panel ::deep td.status .rz-cell-data .error {
                color: var(--colorRed);
            }


.loading-panel {
    display: grid;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
    height: 100%;
    overflow: hidden;
}

    .loading-panel .loading-container {
        grid-row: 2;
        grid-column: 2;
        text-align: center;
    }

    .loading-panel .icon {
        display: block;
        font-size: 36px;
        color: #ddd;
        margin: 0;
        height: 36px;
        text-align: center;
    }

    .loading-panel .message {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #888;
        margin-top: 20px;
        text-align: center;
    }


.not-found-panel {
    display: grid;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
    height: 100%;
    overflow: hidden;
    border: 1px solid #eee;
    border: 1px solid var(--borderColorLight);
}

    .not-found-panel .not-found-container {
        grid-row: 2;
        grid-column: 2;
        text-align: center;
    }

    .not-found-panel .icon {
        display: block;
        font-size: 36px;
        color: var(--textVeryLight);
        margin: 0;
        height: 36px;
        text-align: center;
    }

    .not-found-panel .title {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: var(--textMild);
        margin-top: 20px;
        text-align: center;
    }

    .not-found-panel .subtitle {
        display: block;
        font-size: 12px;
        color: var(--textMild);
        margin-top: 5px;
        text-align: center;
    }