.source-information {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    grid-template-columns: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

    .source-information table {
        border: 1px solid var(--tableBorderColor);
    }

    .source-information td {
        line-height: 22px;
        padding: 1px 10px;
    }

    .source-information .label {
        font-size: 12px;
        font-weight: bold;
        color: var(--textMild);
        padding-right: 10px;
        min-width: 120px;
        vertical-align: top;
        background: var(--tableHeaderBackground);
        border-right: 1px solid var(--tableHeaderBorderColor);
        border-bottom: 1px solid var(--tableHeaderBorderColor);
    }

    .source-information tr:hover .label {
        color: var(--accentLight);
    }

    .source-information .value {
        font-size: 12px;
        padding-left: 10px;
        border-bottom: 1px solid var(--tableBorderColor);
    }

        .source-information .value a {
            font-size: 12px;
            text-decoration: none;
        }
