.assignments-panel {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    grid-row-gap: 10px;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.add-toolbar-panel {
    grid-row: 1;
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr;
    grid-column-gap: 10px;
}

.toolbar-panel-buttons .btn {
    font-size: 14px;
    margin-right: 10px;
    border-radius: 2px;
    height: 42px;
}

.add-toolbar-panel-buttons .btn-save {
    width: 160px;
    font-size: 14px;
}

    .toolbar-panel .btn {
        border-radius: 2px;
        height: 42px;
    }

    .toolbar-panel ::deep .rz-dropdown {
        border-radius: 2px;
        height: 42px !important;
        line-height: 28px !important;
        width: 100%;
    }

    .toolbar-panel ::deep .text-box {
        margin: 0;
    }

.filter-toolbar-panel {
    grid-row: 2;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 10px;
}

.filter-toolbar-panel-buttons .btn-refresh .icon {
    margin-right: 0;
}


.table-panel {
    grid-row: 3;
    height: 100%;
    overflow: hidden;
}

    .table-panel ::deep .table-panel {
        height: 100%;
        overflow: hidden;
    }

    .table-panel ::deep .rz-data-grid {
        height: 100%;
        overflow: auto;
    }

        .table-panel ::deep .rz-data-grid td {
            padding: 0 !important;
            border-bottom: none;
        }

        .table-panel ::deep .rz-data-grid td .rz-cell-data {
            padding: 3px 15px !important;
            font-size: 14px;
            line-height: 26px;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            height: 34px;
        }

            .table-panel ::deep .rz-data-grid td .check-box {
                padding: 0;
                margin: 0;
            }

    .table-panel ::deep .buttons {
        padding: 0;
    }

        .table-panel ::deep .buttons .btn-remove {
            padding: 0;
            color: var(--colorRed) !important;
        }

            .table-panel ::deep .buttons .btn-remove:hover {
                background: none;
                color: var(--colorRedLight) !important;
            }

                .table-panel ::deep .buttons .btn-remove:hover .icon {
                    color: var(--colorRedLight);
                }

.loading-panel {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}

.loading-panel-container {
    display: grid;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
    height: 100%;
}

.loading-panel ::deep .loading-indicator {
    grid-row: 2;
    grid-column: 2;
}
