.btn-primary {
    background: #0080ff !important;
    background: linear-gradient(to bottom, #0080ff 0%,#0073e6 100%) !important;
    background: linear-gradient(to bottom, #2d7dd2 0%,#2870bd 100%) !important;
    border-color: #0073e6 !important;
    transition: none;
}

    .btn-primary .icon {
        color: white;
    }

    .btn-primary:hover {
        background: #0066cc !important;
        background: #428ad7 !important;
        background: #5797db !important;
        transition: none;
    }
