.btn-command {
    background: var(--buttonCommandBackground);
    border: 1px solid var(--buttonCommandBorder);
    color: var(--buttonCommandText);
    font-size: 14px;
    transition: none;
}

    .btn-command:hover {
        background: var(--buttonCommandBackgroundHover);
        border: 1px solid var(--buttonCommandBorderHover);
        color: var(--buttonCommandTextHover);
        transition: none;
    }

    .btn-command:focus {
        box-shadow: none !important;
        outline: none;
        background: var(--buttonCommandBackgroundHighlight);
        border: 1px solid var(--buttonCommandBorderHighlight);
        color: var(--buttonCommandTextHighlight);
    }

    .btn-command.active {
        color: #fff !important;
        background: var(--accent);
        border: 1px solid transparent !important;
        transition: none;
    }

    .btn-command.disabled {
        transition: none;
        background: var(--buttonCommandBackgroundDisabled);
        border: 1px solid var(--buttonCommandBorderDisabled);
        color: var(--buttonCommandTextDisabled);
    }

    .btn-command .icon {
        margin-right: 10px;
        color: var(--buttonCommandIcon);
        font-size: 14px;
        transition: none;
    }

    .btn-command:hover .icon {
        color: var(--buttonCommandIconHover);
        transition: none;
    }

    .btn-command:focus .icon {
        color: var(--buttonCommandIconHighlight);
        transition: none;
    }

    .btn-command.disabled .icon {
        color: var(--buttonCommandIconDisabled);
        transition: none;
    }

    .btn-command.btn-sm {
        font-size: 12px;
    }
