.btn-command {
    color: var(--textDark);
    color: var(--accent);
    background: var(--buttonCommandBackground);
    border: 1px solid var(--buttonCommandBorder);
    color: var(--buttonCommandText);
    font-size: 14px;
    transition: none;
}

    .btn-command:focus {
        box-shadow: none !important;
        outline: none;
        border: 1px solid var(--buttonCommandBorder);
    }

    .btn-command:hover {
        color: var(--accent);
        color: var(--accentLight);
        background: var(--buttonCommandBackgroundHover);
        color: var(--buttonCommandTextHover);
        border: 1px solid var(--borderLight);
        border: 1px solid var(--buttonCommandBorderHover);
        transition: none;
    }

    .btn-command.active {
        color: #fff !important;
        background: var(--accent);
        border: 1px solid transparent !important;
        transition: none;
    }

    .btn-command.disabled {
        color: #888 !important;
        transition: none;
    }

    .btn-command .icon {
        margin-right: 10px;
        color: var(--textMild);
        color: var(--accent);
        color: var(--buttonCommandIcon);
        font-size: 14px;
        transition: none;
    }

    .btn-command:hover .icon {
        color: var(--accent);
        color: var(--accentLight);
        color: var(--buttonCommandIconHover);
        transition: none;
    }

    .btn-command.active .icon {
        color: #fff !important;
        transition: none;
    }

    .btn-command.disabled .icon {
        color: #aaa !important;
        transition: none;
    }

    .btn-command.btn-sm {
        font-size: 12px;
    }
