.btn-light {
    background: var(--buttonLightBackground);
    border: 1px solid var(--buttonLightBorder);
    border-radius: 2px;
    color: var(--buttonLightText);
}

    .btn-light:hover {
        background: var(--buttonLightBackgroundHover);
        border: 1px solid var(--buttonLightBorderHover);
        color: var(--buttonLightTextHover);
    }

    .btn-light:focus {
        box-shadow: none !important;
        outline: none;
        background: var(--buttonLightBackgroundHighlight) !important;
        border: 1px solid var(--buttonLightBorderHighlight) !important;
        color: var(--buttonLightTextHighlight);
    }

    .btn-light.disabled {
        background: var(--buttonLightBackgroundDisabled) !important;
        border: 1px solid var(--buttonLightBorderDisabled) !important;
        color: var(--buttonLightTextDisabled) !important;
    }

    .btn-light .icon {
        color: var(--buttonLightIcon);
    }

    .btn-light:hover .icon {
        color: var(--buttonLightIconHover);
    }

    .btn-light:focus .icon {
        color: var(--buttonLightIconHighlight);
    }

    .btn-light.disabled .icon {
        color: var(--buttonLightIconDisabled);
    }


.btn-light-success {
    background: white;
    border: 1px solid var(--borderLight);
    font-size: 0.75em;
}

    .btn-light-success:hover {
        background: #eee;
        border: 1px solid #ccc;
    }

    .btn-light-success .icon {
        color: var(--colorGreen);
    }
