.btn-link {
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: var(--buttonLinkText) !important;
    outline: none;
    box-shadow: none;
    border: none;
}

    .btn-link:hover {
        color: var(--buttonLinkTextHover) !important;
        text-decoration: underline;
    }

    .btn-link:focus {
        box-shadow: none !important;
        outline: none;
    }

    .btn-link.disabled {
        color: var(--buttonLinkTextDisabled) !important;
    }

    .btn-link .icon {
        font-size: 14px;
        color: var(--buttonLinkIcon) !important;
    }

    .btn-link:hover .icon {
        color: var(--buttonLinkIconHover) !important;
    }

    .btn-link:focus .icon {
        color: var(--buttonLinkIconHighlight) !important;
    }

    .btn-link.disabled .icon {
        color: var(--buttonLinkIconDisabled) !important;
    }


    .btn-link.btn-sm {
        font-size: 12px;
        line-height: 12px;
    }

        .btn-link.btn-sm .icon {
            font-size: 12px;
            margin-right: 0.5em;
        }

.btn-link-remove {
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: var(--colorRed) !important;
}

    .btn-link-remove .icon {
        font-size: 14px;
        color: var(--colorRed);
    }

    .btn-link-remove:hover {
        color: var(--colorRedLight) !important;
    }

        .btn-link-remove:hover .icon {
            color: var(--colorRedLight) !important;
        }

    .btn-link-remove.btn-sm {
        font-size: 12px;
        line-height: 12px;
    }

        .btn-link-remove.btn-sm .icon {
            font-size: 12px;
            margin-right: 0.5em;
        }