.btn-primary {
    background: var(--buttonPrimaryBackground) !important;
    border-color: var(--buttonPrimaryBorder) !important;
    color: var(--buttonPrimaryText) !important;
    transition: none;
}

    .btn-primary:hover {
        background: var(--buttonPrimaryBackgroundHover) !important;
        border-color: var(--buttonPrimaryBorderHover) !important;
        color: var(--buttonPrimaryTextHover) !important;
        transition: none;
    }

    .btn-primary:focus {
        box-shadow: none !important;
        outline: none;
        background: var(--buttonPrimaryBackgroundHighlight) !important;
        border-color: var(--buttonPrimaryBorderHighlight) !important;
        color: var(--buttonPrimaryTextHighlight) !important;
    }

    .btn-primary.disabled {
        box-shadow: none !important;
        outline: none;
        background: var(--buttonPrimaryBackgroundDisabled) !important;
        border-color: var(--buttonPrimaryBorderDisabled) !important;
        color: var(--buttonPrimaryTextDisabled) !important;
    }

    .btn-primary .icon {
        color: var(--buttonPrimaryIcon);
    }

    .btn-primary:hover .icon {
        color: var(--buttonPrimaryIconHover);
    }

    .btn-primary:focus .icon {
        color: var(--buttonPrimaryIconHighlight);
    }

    .btn-primary.disabled .icon {
        color: var(--buttonPrimaryIconDisabled);
    }
