.btn-remove {
    background: var(--buttonRemoveBackground);
    border: 1px solid var(--buttonRemoveBorder);
    color: var(--buttonRemoveText);
    border-radius: 0;
    transition: none;
}

    .btn-remove:hover {
        background: var(--buttonRemoveBackgroundHover);
        border: 1px solid var(--buttonRemoveBorderHover);
        color: var(--buttonRemoveTextHover);
        transition: none;
    }

    .btn-remove:focus {
        background: var(--buttonRemoveBackgroundHighlight);
        border: 1px solid var(--buttonRemoveBorderHighlight);
        color: var(--buttonRemoveTextHighlight);
        box-shadow: none !important;
        outline: none;
    }

    .btn-remove.disabled {
        background: var(--buttonRemoveBackgroundDisabled);
        border: 1px solid var(--buttonRemoveBorderDisabled);
        color: var(--buttonRemoveTextDisabled);
        box-shadow: none !important;
        outline: none;
    }


    .btn-remove .icon {
        color: var(--buttonRemoveIcon);
    }

    .btn-remove:hover .icon {
        color: var(--buttonRemoveIconHover);
    }

    .btn-remove:focus .icon {
        color: var(--buttonRemoveIconHighlight);
    }

    .btn-remove.disabled .icon {
        color: var(--buttonRemoveIconDisabled);
    }
