.btn-secondary {
    background: var(--buttonSecondaryBackground);
    border: 1px solid var(--buttonSecondaryBorder);
    color: var(--buttonSecondaryText);
    font-size: 12px;
    transition: none;
}

    .btn-secondary:hover {
        background: var(--buttonSecondaryBackgroundHover);
        border: 1px solid var(--buttonSecondaryBorderHover);
        color: var(--buttonSecondaryTextHover);
        transition: none;
    }

    .btn-secondary:focus {
        box-shadow: none !important;
        outline: none;
        background: var(--buttonSecondaryBackgroundHighlight);
        border: 1px solid var(--buttonSecondaryBorderHighlight);
        color: var(--buttonSecondaryTextHighlight);
    }

    .btn-secondary.disabled {
        box-shadow: none !important;
        outline: none;
        background: var(--buttonSecondaryBackgroundDisabled);
        border: 1px solid var(--buttonSecondaryBorderDisabled);
        color: var(--buttonSecondaryTextDisabled);
    }

    .btn-secondary .icon {
        color: var(--buttonSecondaryIcon);
        transition: none;
    }

    .btn-secondary:hover .icon {
        color: var(--buttonSecondaryIconHover);
        transition: none;
    }

    .btn-secondary:focus .icon {
        color: var(--buttonSecondaryIconHighlight);
        transition: none;
    }

    .btn-secondary.disabled .icon {
        color: var(--buttonSecondaryIconDisabled);
        transition: none;
    }
