.definition-description {

}

    .definition-description table {
        width: 100%;
        border: 1px solid var(--tableBorderColor);
    }

    .definition-description th {
        font-size: 12px;
        padding: 5px 10px;
    }

    .definition-description td {
        font-size: 13px;
        padding: 5px 10px;
    }

        .definition-description td a {
            text-decoration: none;
        }

    .definition-description .view {
        width: 50px;
    }

    .definition-description ::deep .type {
        font-weight: bold;
    }
