.source-table {
    border-left: 1px solid #ddd !important;
}

    .source-table th {
        font-size: 12px;
        color: #555;
        border-bottom: 1px solid #ddd !important;
        padding: 5px 10px;
    }

    .source-table td {
        font-size: 12px;
        color: #333;
        padding: 5px 10px;
        border-right: 1px solid #ddd !important;
    }

        .source-table td a {
            text-decoration: none;
        }

    .source-table .view {
        width: 50px;
    }

    .source-table ::deep .type {
        font-weight: bold;
    }
