@inherits TrakHoundComponentBase

<div class="developers-panel">

    <div class="developer-group-panel">
        <div class="developer-group-header">
            <span class="developer-group-title">.NET CLI Templates</span>
            <a href="#" class="btn btn-link developer-group-link"><span class="icon fa-brands fa-github"></span>View on GitHub</a>
        </div>
        <div class="developer-group-grid">
            <div class="developer-panel">
                <div class="developer-icon">
                    <span>C#</span>
                </div>
                <div class="developer-title">
                    <span>App</span>
                </div>
                <div class="developer-subtitle">
                    <span>User Interfaces</span>
                </div>
            </div>

            <div class="developer-panel">
                <div class="developer-icon">
                    <span>C#</span>
                </div>
                <div class="developer-title">
                    <span>Api</span>
                </div>
                <div class="developer-subtitle">
                    <span>View and Manage information through custom interfaces</span>
                </div>
            </div>

            <div class="developer-panel">
                <div class="developer-icon">
                    <span>C#</span>
                </div>
                <div class="developer-title">
                    <span>Function</span>
                </div>
                <div class="developer-subtitle">
                    <span>Short lived processes</span>
                </div>
            </div>

            <div class="developer-panel">
                <div class="developer-icon">
                    <span>C#</span>
                </div>
                <div class="developer-title">
                    <span>Service</span>
                </div>
                <div class="developer-subtitle">
                    <span>Long lived processes</span>
                </div>
            </div>
        </div>
    </div>

    <div class="developer-group-panel">
        <div class="developer-group-header">
            <span class="developer-group-title">.NET Visual Studio Templates</span>
            <a href="#" class="btn btn-link developer-group-link"><span class="icon fa-brands fa-github"></span>View on GitHub</a>
        </div>
        <div class="developer-group-grid">
            <div class="developer-panel">
                <div class="developer-icon">
                    <img src="@GetLocation("img/visual-studio-logo.svg")" />
                </div>
                <div class="developer-title">
                    <span>App</span>
                </div>
                <div class="developer-subtitle">
                    <span>User Interfaces</span>
                </div>
            </div>

            <div class="developer-panel">
                <div class="developer-icon">
                    <img src="@GetLocation("img/visual-studio-logo.svg")" />
                </div>
                <div class="developer-title">
                    <span>Api</span>
                </div>
                <div class="developer-subtitle">
                    <span>View and Manage information through custom interfaces</span>
                </div>
            </div>

            <div class="developer-panel">
                <div class="developer-icon">
                    <img src="@GetLocation("img/visual-studio-logo.svg")" />
                </div>
                <div class="developer-title">
                    <span>Function</span>
                </div>
                <div class="developer-subtitle">
                    <span>Short lived processes</span>
                </div>
            </div>

            <div class="developer-panel">
                <div class="developer-icon">
                    <img src="@GetLocation("img/visual-studio-logo.svg")" />
                </div>
                <div class="developer-title">
                    <span>Service</span>
                </div>
                <div class="developer-subtitle">
                    <span>Long lived processes</span>
                </div>
            </div>
        </div>
    </div>

    <div class="developer-group-panel">
        <div class="developer-group-header">
            <span class="developer-group-title">.NET Nuget Packages</span>
            <a href="#" class="btn btn-link developer-group-link"><span class="icon fa-brands fa-github"></span>View on GitHub</a>
        </div>
        <div class="developer-group-table">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="package-column">Package</th>
                        <th class="downloads-column">Downloads</th>
                        <th class="link-column">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TrakHound.Common</td>
                        <td>0</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>TrakHound.Blazor</td>
                        <td>0</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>TrakHound.Drivers</td>
                        <td>0</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>TrakHound.Routing</td>
                        <td>0</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>TrakHound.Debug.Apps</td>
                        <td>0</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>TrakHound.Debug.AspNetCore</td>
                        <td>0</td>
                        <td><a href="#">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
