.downloads-panel {
    height: 100%;
    overflow: auto;
    padding: 30px 20px;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    grid-row-gap: 20px;
/*    background: var(--panelBackgroundMedium);*/
}

.download-group-panel {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.download-group-header {
    background: rgba(255, 255, 255, 0.075);
    background: var(--panelBackgroundDark);
    background: var(--borderColorLight);
    padding: 1px 20px;
    display: grid;
    grid-template-columns: 1fr max-content;
}

    .download-group-header .download-group-title {
        font-size: 13px;
        line-height: 30px;
        color: var(--accentVeryLight);
        color: var(--textMild);
    }

    .download-group-header .download-group-link {
        font-size: 13px;
        line-height: 28px;
        padding: 0;
    }

.download-group-grid {
    padding: 20px;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-column-gap: 20px;
/*    border: 2px solid rgba(0, 0, 0, 0.25);*/
    border: 2px solid var(--borderColorLight);
    border-top: none;
}

.download-group-table {
/*    border: 2px solid rgba(0, 0, 0, 0.25);*/
    border: 2px solid var(--borderColorLight);
    border-top: none;
}


.download-panel {
/*    background: rgba(255, 255, 255, 0.025);*/
    background: var(--panelItemBackground);
    border: 2px solid var(--accentVeryVeryDark);
    border: 2px solid var(--borderColorLight);
    border-radius: 2px;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    padding: 10px;
    width: 140px;
    text-decoration: none;
}

    .download-panel:hover {
/*        background: rgba(255, 255, 255, 0.1);*/
        background: var(--panelItemBackgroundHover);
        border: 2px solid var(--accentLight);
        cursor: pointer;
    }

.download-icon {
    text-align: center;
    padding-bottom: 5px;
}

    .download-icon img {
        max-width: 50px;
        max-height: 50px;
    }

    .download-icon span {
        font-size: 40px;
        line-height: 40px;
        color: var(--accentVeryLight);
    }

.download-title {
    text-align: center;
    font-size: 14px !important;
    font-weight: bold;
    color: var(--accentLight);
    color: var(--textDark);
    margin-bottom: 5px;
}

.download-subtitle {
    text-align: center;
    font-size: 11px;
    color: var(--accentVeryLight);
    color: var(--textMild);
}

.download-group-table table {
    background: none;
    border: none;
    width: 100%;
    margin: 0;
}

    .download-group-table table th {
        background: none;
        border: none;
/*        background: rgba(0, 0, 0, 0.5);*/
        background: var(--panelBackgroundDark) !important;
/*        color: var(--accentVeryLight);*/
        color: var(--textMild);
        font-size: 12px;
        font-weight: bold;
        padding: 3px 15px;
    }

    .download-group-table table th.package-column {
        width: 300px;
    }

    .download-group-table table th.downloads-column {
        width: 150px;
    }

    .download-group-table table td {
        color: var(--accentVeryLight);
        font-size: 14px;
        padding: 5px 15px;
        background: rgba(0, 0, 0, 0.25);
/*        border-right: 2px solid var(--accentVeryVeryDark);*/
        border-right: 2px solid var(--tableBorderColor);
/*        border-bottom: 2px solid var(--accentVeryVeryDark);*/
        border-bottom: 2px solid var(--tableBorderColor);
    }

    .download-group-table table tr:last-child td {
        border-bottom: none;
    }

    .download-group-table table tr:hover td {
        background: rgba(255, 255, 255, 0.025);
    }