@inherits TrakHoundComponentBase

<div class="downloads-panel">

    <div class="download-group-panel">
        <div class="download-group-header">
            <span class="download-group-title">TrakHound Downloads</span>
            <a href="#" class="btn btn-link download-group-link"><span class="icon fa-brands fa-github"></span>View on GitHub</a>
        </div>
        <div class="download-group-grid">
            <a href="#" target="_blank" class="download-panel">
                <div class="download-icon">
                    <img src="http://www.trakhound.com/static/trakhound-logo-v5-02-background-100px.png" />
                </div>
                <div class="download-title">
                    <span>Instance</span>
                </div>
                <div class="download-subtitle">
                    <span>Host App, Api, Function, &amp; Service Modules</span>
                </div>
            </a>

            <a href="#" target="_blank" class="download-panel">
                <div class="download-icon">
                    <img src="http://www.trakhound.com/static/trakhound-logo-v5-02-background-100px.png" />
                </div>
                <div class="download-title">
                    <span>CLI</span>
                </div>
                <div class="download-subtitle">
                    <span>Command Line Tool to Manage Packages</span>
                </div>
            </a>

        </div>
    </div>

    <div class="download-group-panel">
        <div class="download-group-header">
            <span class="download-group-title">.NET Downloads</span>
            <a href="#" class="btn btn-link download-group-link"><span class="icon fa-brands fa-github"></span>View on GitHub</a>
        </div>
        <div class="download-group-grid">
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="download-panel">
                <div class="download-icon">
                    <img src="@GetLocation("img/visual-studio-logo.svg")" />
                </div>
                <div class="download-title">
                    <span>Visual Studio</span>
                </div>
                <div class="download-subtitle">
                    <span>IDE &amp; Code Editer</span>
                </div>
            </a>

            <a href="https://code.visualstudio.com" target="_blank" class="download-panel">
                <div class="download-icon">
                    <img src="@GetLocation("img/vscode-logo.png")" />
                </div>
                <div class="download-title">
                    <span>Visual Studio Code</span>
                </div>
                <div class="download-subtitle">
                    <span>Lightweight IDE &amp; Code Editer</span>
                </div>
            </a>

            <a href="https://dotnet.microsoft.com/en-us/" target="_blank" class="download-panel">
                <div class="download-icon">
                    <img src="@GetLocation("img/dotnet-logo.png")" />
                </div>
                <div class="download-title">
                    <span>.NET Runtime</span>
                </div>
                <div class="download-subtitle">
                    <span>Runtime &amp; SDK</span>
                </div>
            </a>

        </div>
    </div>

</div>
