.releases-panel {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.release-panel {
    display: block;
    padding: 5px 20px 10px;
    margin-bottom: 10px;
    min-height: 70px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

    .release-panel:hover {
        background: var(--accentDark);
        background: rgba(255, 255, 255, 0.15);
        border: 2px solid var(--accent);
        cursor: pointer;
    }

.release-container {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr max-content;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
}

    .release-panel .release-icon {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
        padding-top: 5px;
        width: 20px;
    }

        .release-panel .release-icon .icon {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.2);
            color: var(--colorGreenLight);
        }

    .release-panel .release-header {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: 1fr max-content;
    }

    .release-panel .release-name {
        font-size: 13px;
        font-weight: bold;
        color: var(--accentVeryLight);
        text-align: left;
    }

    .release-panel .release-tag {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
    }

    .release-panel .release-content {
        grid-row: 2;
        grid-column: 2;
        text-align: left;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
    }

    .release-panel .release-number {
        font-size: 14px;
        color: var(--accentLight);
    }

    .release-panel .release-updated {
        font-size: 11px;
        margin-left: 5px;
        color: var(--accentVeryLight);
    }

    .release-panel .release-icons {
        grid-row: 2;
        grid-column: 3;
        text-align: right;
    }

    .release-panel .release-comments {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
    }

    .release-panel .release-comments .icon {
        margin-right: 8px;
    }