.deployments-page {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.header-panel {
    grid-row: 1;
    padding: 20px 25px 10px;
}

.header-panel-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 20px;
}

.header-panel-icon {
    grid-column: 1;
    width: 50px;
}

.header-icon-outline {
    border: 2px solid var(--accent);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    padding: 10px;
    padding-top: 11px;
    padding-left: 8px;
}

.header-panel-icon .icon {
    font-size: 26px;
    margin: 0;
    color: var(--accent);
}

.header-panel-text {
    grid-column: 2;
    padding-top: 8px;
}

    .header-panel-text .header-panel-title {
        display: block;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
    }

    .header-panel-text .header-panel-subtitle {
        display: block;
        font-size: 12px;
        line-height: 20px;
        color: #888;
    }

.tabs-panel {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}

    .tabs-panel ::deep .rz-tabview-nav {
        padding-left: 20px;
    }

    .tabs-panel ::deep .rz-tabview {
        height: 100%;
        overflow: hidden;
    }

    .tabs-panel ::deep .rz-tabview-panels {
        height: 100%;
        overflow: hidden;
    }

    .tabs-panel ::deep .rz-tabview-panel {
        height: 100%;
        overflow: hidden;
        padding: 0;
    }
