.set-content {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    height: 100%;
    overflow: hidden;
}


.input-panel {
    grid-row: 1;
    padding: 8px 10px 5px;
}

.input-panel-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: 10px;
}

.input-panel-buttons {
    padding-top: 1px;
}

.input-panel .btn-save {
    height: 42px;
    width: 130px;
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    margin-right: 5px;
}

    .input-panel .btn-save .icon {
        font-size: 16px;
    }

.input-panel .btn-refresh {
    height: 42px;
    width: 42px;
    font-size: 14px;
    border-radius: 0;
    padding: 0;
}

    .input-panel .btn-refresh .icon {
        font-size: 16px;
        margin-right: 0;
    }

.input-panel ::deep .definition-selection input {
    padding: 6px 15px 4px;
    height: 43px !important;
    font-size: 14px;
}

.input-panel .btn-light {
    height: 45px;
    padding: 5px 15px;
}


.query-panel {
    grid-row: 2;
    padding: 0 10px 10px;
}

.query-panel-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: 1px solid var(--borderColor);
}

.query-panel .query-label {
    grid-column: 1;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-right: 1px solid var(--borderColor);
    border-radius: 2px;
    color: var(--textMild);
}

.query-panel .btn-query {
    grid-column: 2;
    font-size: 12px;
    text-align: left;
    padding-top: 8px;
}


.table-panel {
    grid-row: 3;
    height: 100%;
    overflow: hidden;
    padding: 0 10px 10px;
}

    .table-panel ::deep .rz-data-grid {
        height: 100%;
        width: auto;
    }

    .table-panel ::deep td .rz-cell-data {
        font-size: 12px;
    }
