.timestamp-content {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.input-panel {
    grid-row: 1;
    padding: 8px 10px 5px;
}

.input-panel-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column-gap: 10px;
}

.input-panel-buttons {
    padding-top: 1px;
}

.input-panel .btn-save {
    height: 42px;
    width: 130px;
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    margin-right: 5px;
}

    .input-panel .btn-save .icon {
        font-size: 16px;
    }

.input-panel .btn-refresh {
    height: 42px;
    width: 42px;
    font-size: 14px;
    border-radius: 0;
    padding: 0;
}

    .input-panel .btn-refresh .icon {
        font-size: 16px;
        margin-right: 0;
    }

.input-panel .btn-shortcut {
    height: 44px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 15px;
}

.input-panel ::deep .rz-datepicker input {
    padding: 0 20px;
    height: 44px;
    width: 230px;
    border-radius: 2px;
}

.input-panel ::deep .rz-calendar-button .rz-button-icon-left {
    color: var(--accent);
    font-size: 20px;
}

.input-panel ::deep .rz-calendar-button:hover .rz-button-icon-left {
    color: var(--accentLight);
}


.query-panel {
    grid-row: 2;
    padding: 0 10px 12px;
    border-bottom: 1px solid var(--borderColorLight);
}

.query-panel-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: 1px solid var(--borderColor);
}

.query-panel .query-label {
    grid-column: 1;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-right: 1px solid var(--borderColor);
    border-radius: 2px;
    color: var(--textMild);
}

.query-panel .btn-query {
    grid-column: 2;
    font-size: 12px;
    text-align: left;
    padding-top: 8px;
}


.content-panel {
    grid-row: 3;
    height: 100%;
    overflow: hidden;
}

.content-panel-container {
    display: grid;
    grid-template-rows: 1fr max-content;
    height: 100%;
    overflow: auto;
}

.value-panel {
    grid-row: 1;
    padding: 20px 30px;
}

.value-panel-container {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
}

.calendar-label {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 14px;
    font-weight: bold;
    color: var(--textMild);
}


.information-panel {
    grid-row: 2;
    padding: 5px 10px 0;
}

    .information-panel .table td {
        font-size: 12px;
        border-color: var(--borderColor) !important;
    }

        .information-panel .table td.key {
            font-weight: bold;
        }

