.vocabulary-content {
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
    height: 100%;
    overflow: hidden;
}

.input-panel {
    grid-row: 1;
    padding: 8px 10px 11px;
}

.input-panel-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: 10px;
}

.input-panel-buttons {
    padding-top: 1px;
}

.input-panel .btn-save {
    height: 42px;
    width: 130px;
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    margin-right: 5px;
}

    .input-panel .btn-save .icon {
        font-size: 16px;
    }

.input-panel .btn-refresh {
    height: 42px;
    width: 42px;
    font-size: 14px;
    border-radius: 0;
    padding: 0px 11px !important;
}

    .input-panel .btn-refresh .icon {
        font-size: 16px;
    }

.input-panel .btn-shortcut {
    height: 44px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 15px;
}

.input-panel ::deep .definition-selection input {
    padding: 6px 15px 4px;
    height: 43px !important;
    font-size: 14px;
}

.input-panel .btn-light {
    height: 45px;
    padding: 5px 15px;
}

.query-panel {
    grid-row: 2;
    padding: 0 10px 10px;
}

.query-panel-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: 1px solid var(--borderColor);
}

.query-panel .query-label {
    grid-column: 1;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-right: 1px solid var(--borderColor);
    border-radius: 2px;
    color: var(--textMild);
}

.query-panel .btn-query {
    grid-column: 2;
    font-size: 12px;
    text-align: left;
    padding-top: 8px;
}


.content-panel {
    grid-row: 3;
    height: 100%;
    overflow: hidden;
}

.content-panel-container {
    display: grid;
    grid-template-rows: 1fr max-content;
    height: 100%;
    overflow: auto;
}

.value-panel {
    grid-row: 1;
    padding: 10px 20px;
    overflow-y: auto;
    border-bottom: 1px solid var(--borderColorLight);
}

    .value-panel .value-type {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: var(--textDark);
    }

    .value-panel .value-definition {
        display: block;
        font-size: 12px;
        border-bottom: 1px solid var(--borderColorLight);
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: var(--textMild);
    }

    .value-panel .value-description {
        display: block;
        font-size: 14px;
        color: var(--textDark);
    }

    .value-panel ::deep .text-area {
        height: 100%;
    }

    .value-panel ::deep .form-group {
        height: 100%;
    }

    .value-panel ::deep textarea {
        resize: none !important;
        min-height: 100px;
        height: 100%;
        border-radius: 0;
        padding: 10px 20px;
    }

        .value-panel ::deep textarea:focus {
            box-shadow: none;
        }

.information-panel {
    grid-row: 2;
    padding: 5px 10px 0;
}

    .information-panel .table td {
        font-size: 12px;
    }

        .information-panel .table td.key {
            font-weight: bold;
        }
